*{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
}



/* ===========================
   Mobile (768px and below)
=========================== */
@media (max-width: 768px) {

    *{
        box-sizing: border-box;
    }

    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: white;
    }

    header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background:white;
}

}
