*{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
}
header{
    margin: 0px;
    border-bottom: solid rgb(199, 199, 199) 0.2px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-but{
        border: none;
        color: gray;
        width: 100%;
        max-width: 40px;
        height: auto;
        min-height: 5vh;
        margin: 5px;
        background-color: none;
    }

/* ===========================
   Mobile (768px and below)
=========================== */
@media (max-width: 768px) {

    *{
        box-sizing: border-box;
    }

    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: linear-gradient(to bottom , #d8ecff, rgb(255, 255, 255));
    }

    header{
        width: 100%;
        min-height: 60px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background: linear-gradient(to bottom , #baccddda, rgba(216, 216, 216, 0.863));
        
    }

    .menu-but{
        border: none;
        color: gray;
        width: 100%;
        max-width: 40px;
        height: auto;
        min-height: 5vh;
        margin: 5px;
    }




        .menu-section{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 7vh;
            z-index: 6;
            width: 90%;
            height: auto;
            min-height: 60vh;
            border-radius: 5px;
            gap: 2px;
            background-color: white;
            box-shadow: 0px 0px 10px 0.5px rgba(128, 128, 128, 0.438);
            
        }

        .in-menu{
            width: 100%;
            height: 5vh;
            border: none;
            background-color: none;
        }
}
