.aside-bar{
    width: 15%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid rgb(199, 199, 199) 0.2px;
    background-color: rgba(218, 218, 218, 0.418);
}


.aside-bar-buttons{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    width: 90%;
    height: auto;
    min-height: 8vh;
    background-color: transparent;
    font-size: 14px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    transition: 0.2s;
}
.aside-bar-buttons:hover{
    background-color: rgba(53, 125, 233, 0.459);
    color: rgb(37, 82, 165);
    font-size: 15px;
}
.aside-bar-button-clicked{
    background-color: rgba(53, 125, 233, 0.205);
    color: rgb(37, 82, 165);
}