.edit-amount-page{
    position: absolute;
    top: 20vh;
    left: 25vh;
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.edit-amount-but{
    border: none;
    width: 30%;
    height: 5vh;
    border-radius: 10px;
    background-color: rgba(51, 188, 117, 0.719);
}
.back-but{
    height: 5vh;
    width: 5%;
    border: none;
    position: relative;
    bottom: 8vh;
    right: 40vh;
}
button{
    cursor: pointer;
}
.hide-ui{
    display: none;
}